<h4 class="no">
{{#if row.object.name}}
  {{row.object.title}}
{{else}}
  {{row.context.title}}
{{/if}}
</h4>
<div class="subhead">

{{row.subject.name}}

{{row.predicateDescription}}

{{#if row.object.name}}
  <span class="username">{{row.object.name}}</span>
{{else}}
  <span class="username">{{row.context.name}}</span>
{{/if}}
</div>