<!-- app/templates/spacesmy/index.hbs -->
<div class="cards">


    {{#if model.length}}

        {{#each model as |item|}}

          {{#paper-card as |card|}}
            {{#card.title as |title|}}
              {{#title.text as |text|}}
                {{#text.headline}}{{tem.title}}{{/text.headline}}
                {{#text.subhead}}{{item.name}} created {{moment-to-now item.createdDate}}{{/text.subhead}}
              {{/title.text}}
              {{#title.media size="md"}}
                <div class="card-media">
                  {{user-avatar name=item.name image=item.avatarUrl}}
                </div>
              {{/title.media}}
            {{/card.title}}
            {{#card.actions}}
              {{#paper-button onClick=(action (transition-to "spaces.space" item))}}Activity{{/paper-button}}
              {{#paper-button onClick=(action (transition-to "spaces.space.members" item))}}Members{{/paper-button}}
              {{#paper-button}}Action 2{{/paper-button}}
            {{/card.actions}}
          {{/paper-card}}

      {{/each}}
    {{else}}

        <p>
         This spaces found
        </p>

    {{/if}}


</div>