
<div class="jumbo">
  
  <h2>Welcome User!</h2>
  <p>Here you can find the users.</p>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
  
    <br>
    <br>
  

{{slack-search-input
  placeholder='search for objects'
  inputValue='' 
  isPopupHidden=false
  maxlength=250
  enter=(action 'filterByUser')
  
}}
   <div class="jumbo">

            
<p>
  <strong>Pk:</strong>
  <span>{{userSession.user.id}}</span>
</p>

<p>
  <strong>Username:</strong>
  <span>{{userSession.user.username}}</span>
</p>

<p>
  <strong>Firstname:</strong>
  <span>{{userSession.user.firstName}}</span>
</p>

<p>
  <strong>Lastname:</strong>
  <span>{{userSession.user.lastName}}</span>
</p>

<p>
  <strong>Email:</strong>
  <span>{{userSession.user.email}}</span>
</p>

<p>
  <strong>Password:</strong>
  <span>{{userSession.user.password}}</span>
</p>

<p>
  <strong>Passwordconfirmation:</strong>
  <span>{{userSession.user.passwordConfirmation}}</span>
</p>

   </div>
 
</div>

{{outlet}}


